.title {
	padding-top: 30px;
}

.btn-rep {
	width: 200px;
	height: auto;
	margin-left: 35px;
	margin-right: 35px;
}

.rep-row {
	margin-top: 50px;
	margin-bottom: 25px;
}

.btn-select {
	color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}